# Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, VotingRegressor, StackingRegressor,BaggingRegressor
from sklearn.linear_model import LinearRegression,Ridge,ElasticNet,SGDRegressor
from xgboost import XGBRegressor
from sklearn import metrics

# Load Data

In [2]:
car = pd.read_csv('CarPrice_Assignment.csv')
car.reset_index(drop=True,inplace=True)
pd.set_option('display.max_columns', None)

In [3]:
car.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
car.drop(columns='car_ID',inplace=True)

In [5]:
def displaying_unique_values(type):
    for col in car.select_dtypes(include=type):
        print("*" * 75,col,"*"*75)
        print(list(set(car[col])))
        print()

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int64(7), object(10)
memory usage: 40.2+ KB

In [7]:
#displaying unique values of category values
displaying_unique_values('object')

*************************************************************************** CarName ***************************************************************************
['alfa-romero stelvio', 'volvo 264gl', 'toyota starlet', 'porsche boxter', 'dodge d200', 'alfa-romero Quadrifoglio', 'bmw 320i', 'vw rabbit', 'peugeot 304', 'audi 100 ls', 'toyota celica gt liftback', 'maxda rx3', 'toyota corona', 'nissan kicks', 'dodge colt hardtop', 'toyota mark ii', 'toyota cressida', 'toyota corolla 1200', 'volvo 144ea', 'honda civic 1300', 'vw dasher', 'toyota corolla tercel', 'volvo 245', 'buick electra 225 custom', 'dodge colt (sw)', 'mitsubishi pajero', 'nissan juke', 'isuzu MU-X', 'volkswagen rabbit custom', 'chevrolet vega 2300', 'saab 99e', 'honda civic 1500 gl', 'subaru', 'peugeot 505s turbo diesel', 'alfa-romero giulia', 'volvo 244dl', 'volvo 246', 'nissan nv200', 'porsche macan', 'audi fox', 'honda accord lx', 'toyota tercel', 'audi 100ls', 'nissan leaf', 'honda accord cvcc', 'nissan latio', 'bmw x5', 'nissan titan', 'buick opel isuzu deluxe', 'subaru baja', 'subaru dl', 'honda civic', 'bmw z4', 'mitsubishi mirage g4', 'volkswagen dasher', 'plymouth satellite custom (sw)', 'chevrolet impala', 'honda civic cvcc', 'honda accord', 'buick regal sport coupe (turbo)', 'plymouth fury iii', 'porcshce panamera', 'toyota celica gt', 'jaguar xf', 'maxda glc deluxe', 'nissan gt-r', 'nissan rogue', 'chevrolet monte carlo', 'subaru r2', 'plymouth cricket', 'mazda rx2 coupe', 'toyota corona liftback', 'nissan otti', 'toyota corona hardtop', 'mazda glc custom', 'subaru tribeca', 'jaguar xk', 'jaguar xj', 'mazda glc 4', 'mazda glc', 'mitsubishi lancer', 'buick century special', 'renault 12tl', 'plymouth valiant', 'bmw x4', 'toyota corolla', 'bmw x1', 'vokswagen rabbit', 'mazda 626', 'dodge rampage', 'dodge monaco (sw)', 'mitsubishi g4', 'renault 5 gtl', 'porsche cayenne', 'dodge coronet custom', 'audi 4000', 'plymouth duster', 'volkswagen 411 (sw)', 'buick skylark', 'peugeot 504 (sw)', 'buick century luxus (sw)', 'mazda rx-4', 'nissan clipper', 'toyota corolla 1600 (sw)', 'subaru r1', 'mitsubishi montero', 'plymouth fury gran sedan', 'mazda glc custom l', 'mazda rx-7 gs', 'toyota corona mark ii', 'toyouta tercel', 'toyota corolla liftback', 'volkswagen model 111', 'toyota carina', 'isuzu D-Max ', 'peugeot 504', 'subaru trezia', 'volkswagen 1131 deluxe sedan', 'nissan fuga', 'saab 99gle', 'dodge dart custom', 'volkswagen type 3', 'nissan teana', 'mercury cougar', 'honda civic (auto)', 'nissan note', 'volvo 145e (sw)', 'buick skyhawk', 'subaru brz', 'Nissan versa', 'dodge challenger se', 'volkswagen super beetle', 'buick century', 'saab 99le', 'mazda glc deluxe', 'nissan dayz', 'dodge coronet custom (sw)', 'peugeot 604sl', 'volvo diesel', 'bmw x3', 'volkswagen rabbit', 'audi 5000s (diesel)', 'honda prelude', 'mitsubishi mirage', 'audi 5000', 'mitsubishi outlander', 'isuzu D-Max V-Cross']

*************************************************************************** fueltype ***************************************************************************
['gas', 'diesel']

*************************************************************************** aspiration ***************************************************************************
['std', 'turbo']

*************************************************************************** doornumber ***************************************************************************
['two', 'four']

*************************************************************************** carbody ***************************************************************************
['convertible', 'sedan', 'wagon', 'hatchback', 'hardtop']

*************************************************************************** drivewheel ***************************************************************************
['fwd', '4wd', 'rwd']

*************************************************************************** enginelocation ***************************************************************************
['front', 'rear']

*************************************************************************** enginetype ***************************************************************************
['dohcv', 'l', 'ohc', 'dohc', 'rotor', 'ohcf', 'ohcv']

*************************************************************************** cylindernumber ***************************************************************************
['two', 'twelve', 'four', 'eight', 'three', 'six', 'five']

*************************************************************************** fuelsystem ***************************************************************************
['spdi', '1bbl', 'idi', '2bbl', 'mpfi', '4bbl', 'spfi', 'mfi']

In [8]:
displaying_unique_values('number')

*************************************************************************** symboling ***************************************************************************
[0, 1, 2, 3, -2, -1]

*************************************************************************** wheelbase ***************************************************************************
[102.4, 102.9, 104.5, 104.3, 97.0, 95.1, 100.4, 97.3, 107.9, 108.0, 95.7, 109.1, 96.6, 96.1, 95.3, 96.9, 93.1, 93.0, 86.6, 96.3, 88.6, 88.4, 89.5, 91.3, 93.3, 93.7, 94.3, 94.5, 96.5, 96.0, 95.9, 99.8, 99.4, 99.5, 101.2, 103.5, 103.3, 105.8, 102.0, 98.8, 104.9, 106.7, 110.0, 102.7, 112.0, 113.0, 97.2, 115.6, 99.2, 114.2, 98.4, 99.1, 120.9]

*************************************************************************** carlength ***************************************************************************
[180.2, 141.1, 181.5, 144.6, 150.0, 183.5, 183.1, 155.9, 156.9, 157.3, 158.8, 157.1, 159.1, 157.9, 162.4, 163.4, 158.7, 165.3, 166.8, 167.5, 168.8, 169.1, 170.7, 171.2, 172.6, 173.2, 174.6, 175.4, 176.6, 177.3, 178.2, 176.8, 177.8, 175.0, 180.3, 178.4, 181.7, 184.6, 178.5, 187.5, 186.7, 189.0, 190.9, 191.7, 192.7, 193.8, 165.6, 186.6, 166.3, 197.0, 198.9, 199.6, 199.2, 167.3, 202.6, 168.9, 168.7, 208.1, 169.0, 169.7, 170.2, 159.3, 171.7, 172.4, 172.0, 187.8, 173.0, 173.4, 173.5, 173.6, 175.7, 175.6, 176.2, 165.7, 188.8]

*************************************************************************** carwidth ***************************************************************************
[63.6, 64.4, 65.4, 65.6, 61.8, 60.3, 63.8, 62.5, 63.9, 64.1, 65.5, 66.2, 66.4, 66.3, 67.9, 64.8, 71.4, 66.9, 70.9, 64.6, 64.0, 65.2, 66.0, 69.6, 70.6, 65.7, 66.5, 66.1, 66.6, 67.7, 67.2, 68.0, 68.4, 68.3, 68.9, 68.8, 70.3, 70.5, 63.4, 71.7, 65.0, 72.0, 72.3, 64.2]

*************************************************************************** carheight ***************************************************************************
[51.0, 51.4, 51.6, 52.6, 52.8, 52.5, 53.2, 53.5, 53.0, 53.9, 54.1, 54.4, 54.9, 54.8, 54.7, 55.4, 55.1, 55.2, 55.6, 56.7, 56.1, 56.0, 56.2, 57.5, 47.8, 48.8, 49.6, 50.8, 50.6, 52.4, 53.3, 53.1, 54.3, 56.3, 55.7, 58.3, 59.8, 55.9, 52.0, 53.7, 54.5, 55.5, 56.5, 58.7, 59.1, 50.5, 49.7, 49.4, 50.2]

*************************************************************************** curbweight ***************************************************************************
[2050, 3075, 2563, 3086, 2579, 3095, 2081, 3110, 2094, 3130, 3131, 2109, 3139, 2120, 2122, 3151, 2128, 3157, 2650, 2140, 2145, 2658, 3685, 2661, 2670, 2679, 2169, 3197, 3715, 2695, 2700, 2190, 2191, 3217, 2707, 2710, 2714, 3740, 2204, 3230, 2209, 2212, 3750, 2221, 2734, 1713, 3252, 3770, 2236, 2240, 2756, 2758, 2765, 2254, 3285, 2261, 2264, 2265, 2778, 3296, 2275, 2280, 2800, 2289, 2290, 2293, 2808, 2811, 2300, 2302, 2304, 2818, 2823, 2824, 2319, 2833, 2324, 2326, 2328, 1819, 2844, 2847, 2337, 2340, 3366, 1837, 3380, 3900, 2365, 2370, 2372, 2380, 2385, 1874, 1876, 2395, 2910, 2912, 1889, 1890, 2403, 2405, 3430, 2921, 2410, 1900, 3950, 2926, 2414, 1905, 2420, 1909, 2935, 2425, 1918, 2952, 2954, 2443, 1938, 1940, 2455, 1944, 1945, 2458, 2460, 3485, 1950, 1951, 2975, 2465, 2976, 1956, 3495, 1967, 2480, 3505, 1971, 3515, 1985, 2500, 1989, 3012, 3016, 2507, 3020, 2510, 1488, 2004, 2008, 2010, 3034, 2015, 2017, 4066, 3042, 3045, 2535, 2024, 2536, 3049, 2028, 3053, 2540, 3055, 2548, 2037, 3060, 2551, 2040, 3062, 3071]

*************************************************************************** enginesize ***************************************************************************
[130, 131, 258, 132, 134, 136, 140, 141, 145, 146, 151, 152, 156, 161, 164, 171, 173, 304, 308, 181, 183, 61, 194, 326, 70, 203, 79, 80, 209, 90, 91, 92, 97, 98, 103, 234, 108, 109, 110, 111, 119, 120, 121, 122]

*************************************************************************** boreratio ***************************************************************************
[2.68, 3.19, 3.5, 3.47, 3.13, 3.31, 3.62, 2.91, 3.03, 2.97, 3.34, 2.92, 2.99, 3.08, 3.33, 3.76, 3.58, 3.17, 3.59, 3.74, 3.24, 3.01, 3.6, 3.43, 3.78, 3.35, 3.61, 3.94, 3.27, 2.54, 3.63, 3.54, 3.46, 3.8, 3.7, 3.05, 3.15, 3.39]

*************************************************************************** stroke ***************************************************************************
[2.68, 3.4, 3.47, 3.19, 2.8, 3.39, 3.03, 3.11, 3.23, 3.46, 3.9, 4.17, 2.76, 3.41, 3.58, 3.16, 3.08, 3.5, 2.19, 2.36, 3.1, 3.35, 3.86, 3.27, 3.52, 2.87, 3.255, 3.12, 3.29, 3.21, 3.54, 2.9, 2.07, 2.64, 3.07, 3.15, 3.64]

*************************************************************************** compressionratio ***************************************************************************
[7.6, 8.6, 7.0, 8.0, 9.0, 10.0, 8.3, 8.5, 8.8, 9.5, 9.6, 9.41, 10.1, 11.5, 21.5, 22.7, 22.0, 21.9, 21.0, 22.5, 23.0, 7.5, 8.1, 8.4, 8.7, 9.4, 9.2, 9.1, 9.31, 9.3, 7.8, 7.7]

*************************************************************************** horsepower ***************************************************************************
[262, 135, 134, 140, 142, 143, 145, 152, 154, 155, 156, 160, 288, 161, 162, 175, 48, 176, 52, 182, 55, 184, 56, 58, 60, 62, 64, 68, 69, 70, 72, 200, 73, 76, 78, 207, 82, 84, 85, 86, 88, 90, 92, 94, 95, 97, 100, 101, 102, 106, 110, 111, 112, 114, 115, 116, 120, 121, 123]

*************************************************************************** peakrpm ***************************************************************************
[5250, 5000, 5900, 4750, 4500, 5400, 4250, 4900, 5800, 4650, 4400, 5300, 4150, 4800, 6600, 5200, 5600, 4200, 5100, 6000, 5750, 5500, 4350]

*************************************************************************** citympg ***************************************************************************
[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 45, 47, 49]

*************************************************************************** highwaympg ***************************************************************************
[16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 46, 47, 50, 53, 54]

*************************************************************************** price ***************************************************************************
[40960.0, 22018.0, 8195.0, 16900.0, 10245.0, 12290.0, 18950.0, 7689.0, 6669.0, 36880.0, 28176.0, 9233.0, 14869.0, 13845.0, 16925.0, 17950.0, 5151.0, 7198.0, 6692.0, 13860.0, 6695.0, 30760.0, 17450.0, 10795.0, 9258.0, 6189.0, 16430.0, 8238.0, 10295.0, 8249.0, 7738.0, 9279.0, 14399.0, 11845.0, 11850.0, 5195.0, 8778.0, 9295.0, 9298.0, 6229.0, 28248.0, 7775.0, 22625.0, 19045.0, 13415.0, 10345.0, 7788.0, 21105.0, 15985.0, 16500.0, 16503.0, 7799.0, 11900.0, 13950.0, 7295.0, 15998.0, 6785.0, 7299.0, 16515.0, 6795.0, 12940.0, 8845.0, 12945.0, 10898.0, 15510.0, 6295.0, 12440.0, 14489.0, 36000.0, 12964.0, 37028.0, 8358.0, 9895.0, 31400.5, 16558.0, 17075.0, 7349.0, 13495.0, 13499.0, 18620.0, 15040.0, 10945.0, 6849.0, 6338.0, 6855.0, 8916.5, 7895.0, 8921.0, 7898.0, 15580.0, 35550.0, 7395.0, 5348.0, 18150.0, 9959.0, 9960.0, 6377.0, 34028.0, 35056.0, 19699.0, 8948.0, 8949.0, 16630.0, 9980.0, 8449.0, 9988.0, 9989.0, 6918.0, 17669.0, 9995.0, 5389.0, 32528.0, 7957.0, 5399.0, 9495.0, 6938.0, 15645.0, 11549.0, 7463.0, 11048.0, 7975.0, 17710.0, 8495.0, 17199.0, 8499.0, 16695.0, 7995.0, 7999.0, 9538.0, 23875.0, 15690.0, 7499.0, 11595.0, 13645.0, 6989.0, 6479.0, 9549.0, 8013.0, 12629.0, 45400.0, 6488.0, 41315.0, 10595.0, 18280.0, 8558.0, 31600.0, 8058.0, 5499.0, 6529.0, 15750.0, 9095.0, 34184.0, 12170.0, 7053.0, 13200.0, 15250.0, 9639.0, 18344.0, 11694.0, 6575.0, 7603.0, 7609.0, 7099.0, 11199.0, 17859.167, 5572.0, 22470.0, 10698.0, 16845.0, 6095.0, 25552.0, 7126.0, 10198.0, 7129.0, 12764.0, 18399.0, 18920.0, 20970.0, 11245.0, 21485.0, 13295.0, 11248.0, 18420.0, 24565.0, 6649.0, 32250.0, 11259.0, 8189.0, 5118.0]

In [9]:
# separating true categorical values  and true numeric varaibales
true_categorical = car.select_dtypes(include = 'object').columns
true_numeric= car.select_dtypes(include = 'number').columns

In [10]:
true_categorical

Index(['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber',
       'fuelsystem'],
      dtype='object')

In [11]:
true_numeric

Index(['symboling', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

# checking null values

In [12]:
car.isnull().sum()

symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

# Encoding

In [13]:
for col in true_categorical:
    car[col] = car[col].astype('category').cat.codes

# Independent and dependent variable

In [14]:
X= car.drop(columns='price')
y = car.price

# Feature selection

In [15]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
def select_categorical_features(true_categorical):
    significant_feature = []
    for col in true_categorical:
        formula = f"{'price'}  ~ C({col})"
        model = ols(formula,data = car).fit()
        anova_table = sm.stats.anova_lm(model, typ=2)
        p_value = anova_table["PR(>F)"].iloc[0]
        if p_value <0.05:
            significant_feature.append(col)
        else:
            print(col)
    return significant_feature

In [16]:
significant_feature = select_categorical_features(true_categorical)

fueltype
doornumber

In [17]:
significant_feature

['CarName',
 'aspiration',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

In [18]:
car.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,2,1,0,1,0,2,0,88.6,168.8,64.1,48.8,2548,0,2,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,3,1,0,1,0,2,0,88.6,168.8,64.1,48.8,2548,0,2,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,1,0,1,2,2,0,94.5,171.2,65.5,52.4,2823,5,3,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,4,1,0,0,3,1,0,99.8,176.6,66.2,54.3,2337,3,2,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,5,1,0,0,3,0,0,99.4,176.6,66.4,54.3,2824,3,1,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [19]:
final_cols = significant_feature+list(true_numeric[:-1])

# Train_test_split

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X.loc[:,final_cols],y,test_size=0.2,random_state=42)

In [21]:
X_train.shape

(164, 22)

In [22]:
#this function returns the score all 8 algo and choosing the best among them

def scores(X,y):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=101)
    
    models = dict(zip('RandomForest   GradientBoosting Xgboost lr ridge'.split(),
                      
                      [RandomForestRegressor(),
                      GradientBoostingRegressor(),
                       XGBRegressor(),LinearRegression(),Ridge()
                      ])
                 )
    algo_scores = pd.DataFrame()
    algo_scores['model_name']=list(models.keys())
    train_score = []
    test_score = []
    for _,estimator in models.items():
        estimator.fit(X_train,y_train)
        
        y_train_preds=estimator.predict(X_train)
        
        y_test_preds=estimator.predict(X_test)
        train_r2 = metrics.r2_score(y_train,y_train_preds)
        test_r2 = metrics.r2_score(y_test,y_test_preds)
        train_score.append(float(f'{train_r2:.2f}'))
        test_score.append(float(f'{test_r2:.2f}'))
    algo_scores["Train_scores"]=train_score
    algo_scores["Test_scores"]=test_score
    algo_scores.sort_values(by='Test_scores',ascending=False,inplace=True)
     
    return algo_scores
        
    
    
performances= scores(X.loc[:,final_cols],y)

In [23]:
performances

         model_name  Train_scores  Test_scores
0      RandomForest          0.99         0.91
1  GradientBoosting          1.00         0.90
2           Xgboost          1.00         0.90
3                lr          0.90         0.81
4             ridge          0.90         0.81

**I am going to choose Linear Regression Model**